<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net451" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net451" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net451" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net451" />
  <package id="Enterwell.Clients.Wpf.Notifications" version="1.4.2" targetFramework="net451" />
  <package id="HandyControl" version="2.3.0" targetFramework="net451" />
  <package id="Lierda.WPFHelper" version="1.0.3" targetFramework="net451" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net451" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net451" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net451" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net451" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net451" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net451" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net451" />
  <package id="MaterialDesignThemes.MahApps" version="0.1.0" targetFramework="net451" />
  <package id="Microsoft.Windows.Compatibility" version="3.1.0" targetFramework="net451" />
  <package id="Notifications.Wpf" version="0.1.1" targetFramework="net451" />
  <package id="NPOI" version="2.4.1" targetFramework="net451" />
  <package id="OmronFinsTCP.Net" version="3.0.0.0" targetFramework="net451" />
  <package id="Panuon.UI.Silver" version="1.0.9.5" targetFramework="net451" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net451" />
  <package id="ShowMeTheXAML" version="1.0.12" targetFramework="net451" />
  <package id="ShowMeTheXAML.AvalonEdit" version="1.0.12" targetFramework="net451" />
  <package id="ShowMeTheXAML.MSBuild" version="1.0.12" targetFramework="net451" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net451" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net451" />
</packages>